// ------------- Custom Color variables ------------ //
$dark: #222;
$black: #000;
$white: #fff;
$textColor: #5B5B5B;
$secondaryColor: #0ea5e9;
$footerBgColor: #F7F7F7;

// ------------- Custom variables ------------ //

$fontFamily: "Airbnb Cereal", sans-serif;
$fontSize: 1rem;

$dialogBorderRadius: 12px;
