<div class="flex flex-col min-h-screen">
  <!-- Main content -->
  <main class="flex-grow flex justify-center items-center">
    <p-card header="Se connecter" [style]="{ width: '400px' }">
      <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <div class="py-5">
          <label for="email" class="font-bold">Adresse e-mail</label>
          <input
            type="text"
            pInputText
            class="w-full"
            id="email"
            name="email"
            required
            #email="ngModel"
            [(ngModel)]="authRequest.email"
            pattern="[a-z0-9\._%\+\-]+@[a-z0-9\.\-]+\.[a-z]{2,}$"
          />
          @if(email.invalid && (email.dirty || email.touched)){
          <small class="p-error">
            @if(email.hasError('required')) {
            <span>Un email est obligatoire</span>
            } @else if(email.hasError('pattern')) {
            <span>Votre adresse e-mail est requise</span>
            }
          </small>
          }
        </div>

        <div class="py-5">
          <label for="password" class="font-bold">Mot de passe</label>
          <p-password
            [(ngModel)]="authRequest.password"
            [feedback]="false"
            [toggleMask]="true"
            inputId="password"
            name="password"
            #password="ngModel"
            inputStyleClass="w-full"
            styleClass="w-full"
            required
          />
          @if(password.invalid && (password.dirty || password.touched)) {
          <small class="p-error"> Le mot de passe est requis </small>
          }
        </div>
        <p-button
          label="Envoyer"
          styleClass="w-full mt-5"
         
          type="submit"
        />
        <div class="mt-10">
          <span class="pr-2">Pas encore de compte :</span>
          <a class="text-yellow-500" routerLink="/creation-compte"
            >S'inscrire</a
          >
        </div>
      </form>
    </p-card>
  </main>

  <!-- Footer -->
  <app-footer class="mt-auto" />
</div>
